#pane{
    -fx-background-image: url("library.jpg");
    -fx-background-repeat: stretch;   
    -fx-background-size: 725 545;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0); 
}